[project]
name = "ps-genesys-adapter"
version = "0.1.0"
description = "A Genesys Cloud to CES adapter"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "black>=25.11.0",
    "flake8>=7.3.0",
    "isort>=7.0.0",
]
